mat-toolbar {
  /* background: linear-gradient(to right, var(--lightGreen), var(--darkGreen)); */
  background: var(--lightGreen);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

button {
  margin-left: 1em;
  color: var(--darkGreen);
}

button:hover {
  color: var(--white);
}

#logo {
  margin-top: 0.4rem;
}

.spacer {
  flex: 1 1 auto;
}