h1 {
  color: var(--darkGreen);
}

.myPlantDeck {
  overflow-y: scroll;
  height: 70vh;
}

.icon:hover {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.myPlantCard {
  margin-bottom: 1rem;
  margin-right: 1rem;
  background: var(--lightBrown);
  color: var(--darkGreen);
}

.deleteIcon mat-icon, .editIcon mat-icon {
  color: var(--brown);
}

.editIcon mat-icon:hover {
  color: var(--darkGreen);
}

.deleteIcon mat-icon:hover {
  color: var(--red);
}

.mat-badge-content {
  margin-top: 0.25rem;
  background-color: var(--darkGreen);
}

.plants {
  list-style-type: none;
}

.plants li {
  margin-top: 0.5rem;
}

.small {
  color: var(--grey);
  font-size: 12px;
  float: right;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--green); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--darkGreen); 
}