<h1 style="text-align: center; margin-bottom: 2rem" class="mat-h1">My Plants</h1>
<mat-card class="myPlantCard">
  <mat-card-header>
    <mat-card-title><a>Plot 1</a></mat-card-title>
    <span class="spacer"></span> <a class="icon"><mat-icon>edit</mat-icon></a><a class="icon"><mat-icon>delete</mat-icon></a>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>Tomato</li>
      <li>Zucchini</li>
      <li>Onion</li>
      <li>Brussel Sprouts</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card class="myPlantCard">
  <mat-card-header>
      <mat-card-title><a>Plot 2</a></mat-card-title>
      <span class="spacer"></span> <a class="icon"><mat-icon>edit</mat-icon></a><a class="icon"><mat-icon>delete</mat-icon></a>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>Tomato</li>
      <li>Zucchini</li>
      <li>Onion</li>
      <li>Brussel Sprouts</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card class="myPlantCard">
  <mat-card-header>
    <mat-card-title><a>Plot 3</a></mat-card-title>
    <span class="spacer"></span> <a class="icon"><mat-icon>edit</mat-icon></a><a class="icon"><mat-icon>delete</mat-icon></a>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>Tomato</li>
      <li>Zucchini</li>
      <li>Onion</li>
      <li>Brussel Sprouts</li>
    </ul>
  </mat-card-content>
</mat-card>