mat-card-actions {
  text-align: center;
  margin-top: -10rem;
}

button {
  color: var(--dark-green);
}

button:hover {
  color: var(--dark);
}

/* #main {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  padding-top: 8vh;
  height: 92vh;
  width: 100vw;
} */

.landing {
  max-width: 40vw;
  margin: auto;
  margin-top: 7rem;
  background: transparent;
  box-shadow: none;
}