#main {
  position: absolute;
  top: 0;
  width: 98%;
  z-index: 0;
  padding-top: 10vh;
}

/* .background {
  height: 98vh;
  background: var(--light-green);
  border-radius: 0.4rem;
  z-index: -1;
} */