#background {
  height: 98vh;
  background: radial-gradient(var(--orange) 50%, transparent);
  filter: blur(1em);
  z-index: -1;
}

#main {
  position: absolute;
  top: 0;
  width: 98%;
  z-index: 0;
  padding-top: 10vh;
}