h1, input {
  color: var(--darkBlue);
}

mat-table, mat-paginator {
  background: var(--lightGreen);
  color: var(--darkBlue);
}

mat-header-cell, mat-cell {
  color: var(--darkBlue);
}

button:hover {
  color: var(--orange);
}